name: check-content-action
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  vale:
    name: runner / vale
    runs-on: ubuntu-latest
    steps:
      - name: Checkout content
        uses: actions/checkout@v3

      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v41
        with:
          separator: ","

      - name: Checkout style guide
        uses: actions/checkout@v3
        with:
          repository: build-on-aws/style-guide
          token: ${{ secrets.ENVPAT }}
          path: style-guide

      - name: Move style-guide directory
        run: mv -n style-guide/{.,}* ${{ github.workspace }}

      - uses: errata-ai/vale-action@reviewdog
        with:
          files: ${{ steps.changed-files.outputs.all_changed_files }}
          separator: ","
